.App {
  text-align: center;
  margin-top: 50px;
}

input {
  padding: 15px 20px;
  margin-bottom: 20px;
}

.beer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.beer-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 10px;
  padding: 20px;
  width: 300px;
}

.beer-card img {
  width: 100%;
  border-radius: 8px;
}

.beer-card h2 {
  margin-top: 0;
}

.beer-card p {
  margin-bottom: 0;
}
